<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <title>PAGETITLE</title>

    <script>
        // Redirect after a timeout (e.g., 5 seconds)
        setTimeout(() => {
            window.location.href = "<%= redirectUrl %>"; // Use an EJS variable for dynamic URL
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
    

    <style>
        body, html {
            margin: 0;
            padding: 0;
            min-height: 100%;
            background-color: #000; 
        }
        .background-image {
            position: fixed; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('background.png') center center no-repeat; 
            background-size: contain;
            z-index: -1; 
        }
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #333; 
            color: white; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
            z-index: 2;
        }
    </style>

</head>
<body>
    <div class="background-image"></div>

    <!-- Include external JavaScript file -->
    <script src="script.js"></script>
</body>
</html>
